<!-- {% load i18n %} -->
<!-- {% load static %} -->
<!doctype html>
<html>
	<head>
		<meta charset=utf-8>
		<meta name=description content="">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<title>Just a test</title>
		<link href="{% static 'comments/css/comments.css' %}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="{% static 'comments/js/comments.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
		<script src="{% static 'comments/js/comments.js' %}"></script>
		<script src="{% static 'comments/js/commentactions.js' %}"></script>
		
	</head>
	<body>
		{% if is_thread_admin %}
		<div><a href="/moderation/moderators/?cf_auth={{cf_auth}}">moderators</a><div>
		<div><a href="/moderation/blocked/?cf_auth={{cf_auth}}">blocked</a><div>
		{% endif %}
		<div id="comments-container"></div>
		<script>
		window.commentCount=0;
		var refreshAction = function refreshAction() {
			console.log("initcomments");
			initComments('{{cf_url}}','{{cf_auth}}','{{current_user_id}}','{{icon_url}}', window.commentCount, refreshAction, {{is_thread_admin|yesno:"true,false"}});
		}
		function commentRefreshCounts(threadId) {
    		console.log('loop ' + threadId);
    		$.post({
        		url: '{{cf_url}}' + '/api/get_comment_count/',
        		data: {cf_auth: '{{cf_auth}}', cf_thread: threadId},
        		success: function (result) {
            	remoteCount = Number(result['commentCount']);
            	console.log("counts " + window.commentCount.toString() + ", " + remoteCount.toString());
            	if ( window.commentCount == 0 || window.commentCount > remoteCount ) { window.commentCount = remoteCount; }
            	if ( remoteCount > window.commentCount ) {
            		$('.long-btn').show();
        		}
        		},
        		complete: function () {
            	setTimeout(commentRefreshCounts, 6000, threadId);
        		},
    		});
		}
		$( document ).ready(function() {
    		refreshAction();
    		commentRefreshCounts('{{thread_id}}');
 		});
		</script>
		
	</body>
</html>

